* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

nav {
    display: flex;
    justify-content: space-between; /* Logo ve menü arasında boşluk bırakır */
    align-items: center; 
    padding: 10px 0; 
    background: rgba(212, 175, 40, 0.5); 
    width: 100%; 
    position: fixed; /* Sayfanın üstünde sabit kalması için */
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000; /* Diğer öğelerin üzerinde görünmesi için */
}


.logo {
    padding-left: 7px;
    font-size: 24px; 
    font-weight: 600; 
    color: black; 
}

.logo a {
    color: black; 
    text-decoration: none;
    font-family: 'Open Sans', sans-serif; 
}
.logo a img{
    padding-left: 30px;
    width: 270px; /* Resim genişliği */
    height: auto;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none; /* Noktaları kaldır */
    display: flex; /* Menü öğelerini yan yana diz */
}

ul.menu li {
    position: relative; /* Dropdown için konum ayarı */
    text-align: center;
    
}

ul.menu li a {
    font-weight: 600; 
    color: black;
    text-decoration: none;
    display: block;
    font-size: 17px;
    padding: 15px 25px; /* Dikey ve yatay padding ile boyutu artır */
    font-family: 'Open Sans', sans-serif; 
}

ul.menu li a.active {
    background-color: rgba(243, 123, 4, 0.9); /* Vurgulanan menü arka plan rengi */
    color: white; 
    border-radius: 5px; 
}/* Köşeleri yuvarlat */

ul.menu li:hover {
    transition: 0.6s;
    background-color: rgba(142, 115, 18, 0.5); 
}

.dropdown {
    display: none; /* Başlangıçta gizli */
    position: absolute; /* Dropdown'un konumunu ayarlamak için */
    left: 0;
    top: 100%;
    background: rgba(242, 201, 76, 0.9); 
    z-index: 1; 
    border: 1px solid #d4af28; 
    border-top: none; /* Üst kenar çizgisini kaldır */
    padding: 0; 
}

ul.menu li:hover .dropdown {
    display: block; /* Üst menü üzerine gelince göster */
}

.dropdown li {
    text-align: left; 
    list-style: none; 
}

.dropdown li a {
    padding: 8px 10px; 
    color: black; 
    font-weight: 300; 
    font-size: 12px; 
    font-family: 'Open Sans', sans-serif; 
}

.dropdown li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
}

.dropdown li a:hover {
    background-color: rgba(142, 115, 18, 0.3);
}
